* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}

body {
    margin: 0px;
    background-color: #000;
    color: #fff;
    overflow: hidden;

}

.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.main-content {
    background-color: #121212;
    flex: 1;
    scrollbar-width: none;
    overflow: auto;
    border-radius: 1rem;
    padding: 0rem 1rem 1rem;
}

.side-bar {
    background-color: #000;
    width: 340px;
    border-radius: 1rem;
    margin-right: 0.5rem;
}

.music-player {
    background-color: #000;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 5rem;
    display: flex;

}

a {
    text-decoration: none;
    color: #fff;
}

.nav {
    background-color: #121212;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.75rem;
    border-radius: 1rem;
    justify-content: center;
}

.nav-option {
    line-height: 2.5rem;
    opacity: 0.7;
}

.nav-option:hover {
    opacity: 1;
}

.nav-option i {
    font-size: 1.25rem;
    padding-left: 0.5rem;
}

.nav-option a {
    font-size: 1rem;
    padding-left: 0.5rem;
}

.lib-option img {
    height: 1.25rem;
    width: 1.25rem;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.25rem;
    margin-left: 1.25rem;
}

.library {
    background-color: #121212;
    height: 100%;
    border-radius: 1rem;
    margin-top: 0.55rem;
}

.icons {
    font-size: 1.25rem;
    display: flex;
}

.icons i {
    opacity: 0.6;
    margin-right: 1.25rem;
}

.icons i:hover {
    opacity: 1;
}

.box {
    background-color: #232323;
    padding-left: 1rem;
    height: 10rem;
    border-radius: 1rem;
}

.badge {
    background-color: #FFF;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 100px;
    width: fit-content;
    padding: 0.65rem;
    margin-top: 0.7rem;
    border: none;
    cursor: pointer;
}

.box-p1 {
    font-size: 1rem;
    padding-top: 1.4rem;
    font-weight: 500;
}

.box-p2 {
    font-size: 0.85rem;
    font-weight: 300;
    opacity: 0.8;
}

.sticky-nav {
    display: flex;
    justify-content: space-between;
    top: 0;
    position: sticky;
    background-color: #121212;
    align-items: center;
    padding: 1rem 0rem;
    z-index: 99;
}

.sticky-nav-icons img {
    padding: 0.71rem;
    padding-right: 0rem;
}

.sticky-nav-options {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.sticky-nav-options button {
    margin-right: 1rem;
}

.fa-user {
    padding-top: 0.35rem;
    transform: scale(1.7);
    opacity: 1;
    padding-right: 0.61rem;
    padding-left: 1rem;
    cursor: pointer;
}

.dark-badge {
    background-color: #0f0e0e;
    color: #fff;
}

.dark-badge i {
    margin-right: 0.41rem;
}

@media (max-width:1000px) {
    .hide {
        display: none;
    }
}

.card {
    border-radius: 2rem;
    padding: 1rem;
    margin: 1rem;
    width: 250px;
    opacity: 0.9;
    transition: all 0.4s ease-in-out;
}

.card:hover {
    background-color: #2c2b2b;
    transform: scale(1.09);
    opacity: 1;
}


.card-container {
    display: flex;
    border-radius: 5rem;
    flex-wrap: wrap;
}

.card-img {
    width: 100%;
    border-radius: 0.7rem;
}

.card-title {
    font-size: 1rem;
    font-weight: 700;
}

.card-info {
    font-size: 0.8rem;
    font-weight: 400;
    opacity: 0.7;
}

.footer {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    width: 90%;
    height: 1%;
    background-color: #fff;
    opacity: 0.5;
}

.album {
    width: 25%;
}

.player {
    width: 50%;
}

.controls {
    width: 25%;
}

.player-controls,
.playback-bar {
    display: flex;
    justify-content: center;
    align-items: center;

}

.player-controls img {
    height: 1rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    opacity: 0.7;
}

.player-controls img:hover {
    opacity: 1;
}

#play-btn {
    opacity: 1;
    transform: scale(1.2);
}

.playback-bar {
    margin-top: 1rem;
    display: flex;
    gap: 0.75rem;
}

.progress-bar {
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

/* Track */
.progress-bar::-webkit-slider-runnable-track {
    background-color: #ddd;
    border-radius: 100px;
    height: 0.3rem;
}

/* Thumb */
.progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 0.75rem;
    width: 0.75rem;
    background: #1bd760;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -0.25rem;
}

.album {
    display: flex;
    align-items: center;
    justify-content: left;
}

.album img {
    width: 3.5rem;
    height: 3.5rem;
    padding-left: 1rem;
}

.img-text {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1rem;
}

.img-text h5 {
    font-size: 0.9rem;
    margin: 0rem;
}

.img-text p {
    margin-top: 0.7rem;
    font-size: 0.5rem;
    opacity: 0.7;
    word-spacing: 0.2rem;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    opacity: 0.7;
}

.controls input[type="range"]::-webkit-slider-runnable-track {
    background-color: #ddd;
    border-radius: 100px;
    height: 0.3rem;
}

.controls input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 0.2rem;
    width: 0.2rem;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    margin-top: -0.25rem;
}